.App-Position {

    display: grid;

    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows:110px 1fr;
    grid-template-columns: 3fr 12fr;
}

.all-wrapper {
    grid-area: c;
    background-color: #8d8b8b;
}

